/*.common {
  font-size: 16px;
}

.login_container {
  composes: common;
  composes: red_background from '../styles/colors.css';
}

.input_wrapper {
  composes: med_padding from '../styles/spacing.css';
}*/
