body {
  font-size: $body-font-size;
}

h1 {
  font-size: $h1-font-size;
  font-family: 'Anton', sans-serif;
  padding: $spacing-small;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

h3 {
  position: absolute;
  left: 8vw;
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-decoration-line: underline;
  font-family: $headings-font;
}
