body {
  font-size: $body-font-size;
}

h3 {
  position: absolute;
  left: 8vw;
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-decoration-line: underline;
  font-family: $headings-font;
}

.stopName {
  font-size: $body-font-size;
  margin-bottom: 10px;
}
