body {
  font-size: $body-font-size;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Slab', serif;
}

h3 {
  position: absolute;
  left: 8vw;
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-decoration-line: underline;
  font-family: $headings-font;
}

.stopName {
  font-size: $body-font-size;
  margin-bottom: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

hr {
  margin-top: 15px;
}
